
snippet lcreadme "README" b
# ${0}
LeetCode ${3}
[English](${1})
[中文](${2})

## 题目

## 思路
<details>
<summary>点击展开</summary>
// TODO
</details>

## 代码实现
| C | C++ | Java | Python | JavaScript | Go | PHP |
| :--: | :--: | :--: | :--: | :--: | :--: | :--: |
| 🤔 | 🤔 | 🤔 | 🤔 | 🤔 | 🤔 | 🤔 |
（点击😀可跳转到实现）
endsnippet
